.review-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  background: none;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.review-card .reviewer-info {
  display: flex;
  align-items: center;
}

.review-card .reviewer-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.review-card .reviewer-info .reviewer-img-overlay {
  display: flex;
  flex-direction: column;
}

.review-card .reviewer-info .name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3vh;
  margin-bottom: 10px;
}

.review-card .reviewer-info .rating img {
  width: 3vh;
  height: 3vh;
  margin-right: 5px;
}

.review-card .reviewer-info .name-rating .name {
  font-size: 18px;
  font-weight: 600;
  font-family: "DM Sans", sans-serif;
  color: #333333;
  margin-right: 20px;
}

.review-card .reviewer-info .date {
  font-size: 14px;
  color: #9a9ab0;
  margin-left: 3vh;
  font-family: "DM Sans", sans-serif;
}

.review-card .review-images {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.review-card .review-images img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.review-card .review-text {
  font-size: 14px;
  color: #666666;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
}

.review-card .review-card-bottom-section {
  margin-left: 11vh;
}

@media screen and (max-width: 1024px) {
  .review-card,
  .product-detail {
    gap: 15px;
    padding: 40px;
  }

  .review-card .reviewer-info .name-rating,
  .product-info {
    margin-left: 2vh;
  }

  .review-card .review-card-bottom-section,
  .product-info {
    margin-left: 8vh;
  }

  .product-images,
  .product-description-image {
    margin-right: 5vh;
  }

  .product-detail-description p {
    font-size: 10px;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }

  .product-info h2 {
    font-size: 30px;
  }

  .price-orange-lg {
    font-size: 30px;
  }

  .product-detail-description h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .review-card,
  .product-detail {
    gap: 10px;
    padding: 20px;
  }

  .review-card .reviewer-info .name-rating,
  .product-info {
    margin-left: 1vh;
  }

  .review-card .review-card-bottom-section,


  .product-images,
  .product-description-image {
    margin-right: 3vh;
  }

  .product-detail-description p {
    font-size: 8px;
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 90%;
  }

  .product-info h2 {
    font-size: 22px;
  }

  .price-orange-lg {
    font-size: 22px;
  }

  .product-detail-description h2 {
    font-size: 22px;
  }

  .product-detail-description{
    margin-top: 20vh;
    margin-bottom: 20vh;
  }
}
